@import "color";
* {
    padding: 0;
    margin: 0;
}
.founder {
    width: 100%;
    text-align: center;
    height: 50vh;
    background-color : $red;
    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        width: 50%;
        margin: auto;
        word-spacing: 3px;
        letter-spacing: 2px;
    }
}
